/* import roboto font from google fonts here below*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    background-color: #8e44ad;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.counter-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 30px 50px;
    color: white;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media screen and (max-width: 580px) {
    body {
        flex-direction: column;
    }
}
